{{ define "main" }}
<section class="section">
  <div class="container">
    <h1>Available Product Packs</h1>

    <div class="post-list">
      {{ range .Pages.ByTitle }}
        <article class="post-list-item">
          <h2>{{ .Title }}</h2>

          {{ with .Params.description }}
            <p class="single-description">{{ . }}</p>
          {{ end }}

          <p class="post-readmore">
            <a href="{{ .RelPermalink }}">View pack →</a>
          </p>
        </article>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
